.app-header {
	background-color: rgb(50, 50, 50);
	color: white;
	min-height: 14vh;
	min-width: 100vh;
	margin: 0;
	padding: 10px 0;
}
.global-title-div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.global-data-cont {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
}
.global-div {
	min-width: 14%;
	margin: 5px;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.global-num-cont {
	width: 100%;
	font-weight: bold;
	background-color: white;
	color: black;
	border-radius: 2px;
}
